@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html,body {
  font-family: 'Noto Sans', sans-serif;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.gdgimg{
  height: 103px;
}

article.content {
  padding: 0 10%;
}

img#easter-egg-img {
  cursor: help;
}