@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html,
body {
  font-family: 'Noto Sans', sans-serif;
}

figure.brand-images>img {
  max-height: 60px;
}

article.content {
  padding: 0 10%;
}

img#easter-egg-img {
  cursor: help;
}
.caja{
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
}

.caja h1, h2{
  widht:100%
}
.caja .buttons{
  widht:100%;
}
